body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 450px;
    margin: 0 auto;
    padding: 20px 20px;
    background: white;
    border: 2px solid navy;
}

h1 {
    color: teal;
}

label, .label {
    width: 6em;
    padding-right: 1em;
    margin-bottom: 0.5em;
    float: left;
    font-weight: bold;
    float: left;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
    text-align: left;
}

input[type="text"] { /* An attribute selector */
    float: left;
    margin-bottom: .5em;
    margin-right: .5em;
}

input[type="submit"] { /* An attribute selector */
    float: left;
    margin-bottom: .5em;
    margin-top: .5em;
    margin-right: .5em;
}

br {
    clear: left;
}

.required::after {
    content: "*";
}

.alert {
    color: red;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}